@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PingAR-Light";
  src: url(../fonts/PingAR+LT-Light.otf);
  font-weight: 300;
  display: block;
}

@font-face {
  font-family: "PingAR-Regular";
  src: url(../fonts/PingAR+LT-Regular.otf);
  font-weight: 400;
  display: block;
}

@font-face {
  font-family: "PingAR-Medium";
  src: url(../fonts/PingAR+LT-Medium.otf);
  font-weight: 500;
  display: block;
}

@font-face {
  font-family: "PingAR-Bold";
  src: url(../fonts/PingAR+LT-Bold.otf);
  font-weight: 700;
  display: block;
}

body {
  font-family: "PingAR-Regular";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
.PingAR-Light {
  font-family: "PingAR-Light";
}
.PingAR-Regular {
  font-family: "PingAR-Regular";
}
.PingAR-Medium {
  font-family: "PingAR-Medium";
}
.PingAR-Bold {
  font-family: "PingAR-Bold";
}

@layer components {
  .Container1680 {
    @apply lg:w-[87.5vw] mx-[auto] w-[88.7179487179vw];
  }
  .Container1440 {
    @apply lg:w-[75vw] mx-[auto] w-[88.7179487179vw];
  }
  .text14 {
    @apply lg:text-[0.72916666666vw] lg:leading-[1.14583333333vw]
          text-[3.076923076923077vw];
  }
  .text16 {
    @apply lg:text-[0.8333333333333333vw] lg:leading-[1.45833333333vw]
          text-[3.333333333333333vw];
  }
  .text18 {
    @apply lg:text-[0.9375vw] lg:leading-[1.45833333333vw]
          text-[3.58974358974vw] leading-[6.15384615385vw];
  }
  .text20 {
    @apply lg:text-[1.04166666667vw] lg:leading-[1.66666666667vw];
  }
  .text22 {
    @apply lg:text-[1.14583333333vw] lg:leading-[1.66666666667vw]
          text-[3.58974358974vw] leading-[6.15384615385vw];
  }
  .text26 {
    @apply lg:text-[1.354166666666667vw] lg:leading-[2.1875vw]
          text-[4.87179487179vw] leading-[7.69230769231vw];
  }
  .heading54 {
    @apply lg:text-[2.8125vw] lg:leading-[3.333333333333333vw]
          lg:tracking-[0.084375vw] sm:text-[4.26829268293vw] sm:leading-[6.09756097561vw] text-[7.69230769231vw]
        leading-[10.2564102564vw] PingAR-Bold;
  }

  .sub__Page .blueLogo,
  .sub__Page .whiteLogo {
    @apply lg:w-[12.7083333333vw] sm:w-[21.9512195122vw] w-[31.7948717949vw];
  }
  .menu span {
    @apply block w-full mb-[4px] sm:mb-[0.73170731707vw]
cursor-pointer;
  }

  .links li {
    @apply relative overflow-hidden;
  }
  .links li img {
    @apply lg:w-full absolute  
        transform  transition-all duration-300;
  }
  .ltr .links li img {
    @apply bottom-0 left-0 translate-x-[-50vw] lg:translate-x-[-10vw];
  }
  .rtl .links li img {
    @apply bottom-0 right-0 translate-x-[50vw] lg:translate-x-[10vw];
  }
  .anchor1 {
    @apply bg-[#845FFF] lg:text-[0.8333333333333333vw]  
        sm:w-[24.39024390243902vw] sm:h-[6.707317073170732vw]
        PingAR-Light text-[3.076923076923077vw] sm:text-[1.82926829268vw]   lg:rounded-[1.614583333333333vw] rounded-[31px] lg:w-[9.895833333333333vw] w-[31.2820512821vw] h-[9.23076923077vw]
        lg:h-[3.229166666666667vw] flex justify-center items-center;
  }
  .anchor1 div {
    @apply flex lg:gap-x-[0.4166666666666667vw] h-[3.84615384615vw] lg:h-[0.9895833333333333vw] sm:h-[2.439024390243902vw] sm:gap-x-[1.463414634146341vw] gap-x-[2.051282051282051vw];
  }
  .anchor1 div img {
    @apply lg:w-[0.5729166666666667vw] w-[2.82051282051vw] sm:w-[1.829268292682927vw];
  }
  .anchor2 {
    @apply bg-[#845FFF] PingAR-Light lg:text-[0.9375vw] text-[3.07692307692vw] lg:rounded-[1.614583333333333vw] rounded-[31px] lg:w-[9.895833333333333vw] w-[31.2820512821vw] h-[9.23076923077vw]
        lg:h-[3.229166666666667vw] sm:text-[1.82926829268vw] sm:w-[24.39024390243902vw] sm:h-[6.707317073170732vw] flex justify-center items-center;
  }
  .anchor2 div {
    @apply flex lg:gap-x-[0.625vw] h-[3.84615384615vw] lg:h-[0.9895833333333333vw] sm:h-[2.317073170731707vw] sm:gap-x-[1.463414634146341vw] gap-x-[2.051282051282051vw];
  }
  .anchor2 div img {
    @apply lg:w-[0.8333333333333333vw] w-[2.82051282051vw] sm:w-[2.439024390243902vw] object-contain;
  }
  .ltr .arToggler {
    @apply font-[300] h-[5.38461538462vw] sm:h-[4.0243902439vw] lg:h-[unset] lg:text16;
  }
  .rtl .arToggler {
    @apply font-[700] lg:text16 pointer-events-none;
  }
  .ltr .enToggler {
    @apply font-[700] text16 pointer-events-none;
  }
  .rtl .enToggler {
    @apply font-[300] text16;
  }
  .toggle {
    @apply w-[26px] min-w-[26px] lg:min-w-[unset] relative h-[6.5px] lg:h-[0.72916666666vw] lg:w-[2.91666666667vw] bg-[#DCDCDC] rounded-[10px] lg:rounded-[1vw];
  }
  .ltr .toggle span {
    @apply lg:w-[1.35416666667vw] transition-all duration-[800ms] lg:h-[1.35416666667vw] w-[12px] h-[12px] rounded-[50%] bg-[#8458FF] absolute top-[50%] transform translate-y-[-50%] left-[-2px];
  }
  .ltr .active .toggle span {
    @apply left-[58%];
  }
  .rtl .toggle span {
    @apply lg:w-[1.35416666667vw] transition-all duration-[800ms] lg:h-[1.35416666667vw] w-[12px] h-[12px] rounded-[50%] bg-[#8458FF] absolute top-[50%] transform translate-y-[-50%] right-[-2px];
  }
  .rtl .active .toggle span {
    @apply right-[58%];
  }
  .checkedIcon {
    @apply w-full h-full absolute left-0 top-0  opacity-0 object-cover;
  }
  .cta {
    @apply fixed lg:bottom-[50px] sm:bottom-[50px] bottom-[30px]
         bg-[#845FFF]
        lg:rounded-full rounded-[7.94871794872vw] opacity-0
        lg:w-[3.75vw] lg:h-[3.75vw] sm:h-[6.34146341463vw] sm:w-[6.34146341463vw] w-[14.358974359vw] h-[14.358974359vw]
        flex items-center justify-center z-[999] cursor-pointer;
  }
  .ltr .cta {
    @apply lg:right-[5.64102564103vw] sm:right-[7.31707317073vw] right-[4.64102564103vw];
  }
  .rtl .cta {
    @apply lg:left-[5.64102564103vw] sm:left-[7.31707317073vw] left-[4.64102564103vw];
  }
  .cta__Menu {
    @apply lg:p-[1vw] lg:w-[13.0208333333vw] w-[50.7692307692vw]
      lg:h-[10.4166666667vw] h-[41.5384615385vw] sm:w-[26.8292682927vw] sm:h-[21.9512195122vw] bg-[#3B3659]  transform  
      lg:rounded-[1.04166666667vw] rounded-[5.12820512821vw]
      absolute bottom-0 leftRightFixer2 transition-all duration-[800ms] origin-bottom-right
      flex flex-col items-center justify-center;
  }

  .question {
    @apply flex items-center gap-x-[0.625vw] min-w-[36.4102564103vw] sm:min-w-[25.410256vw]
        h-[11.5384615385vw] sm:h-[7.31707317073vw] lg:w-[unset] lg:min-w-[unset] lg:h-[unset]  rounded-[12.3076923077vw] lg:rounded-[unset]
        justify-center lg:justify-normal cursor-pointer bg-[#D6D1ED];
  }
  .faq {
    @apply text-[#3B3659] flex flex-col bg-[#EBF0F7] lg:rounded-[1.04166666667vw] rounded-[3.84615384615vw]
        lg:px-[2.08333333333vw] px-[4.10256410256vw] lg:py-[2.161458333333333vw] sm:py-[3.65853658537vw] py-[6.15384615385vw] cursor-pointer
        transition-all duration-[800ms];
  }
  .faq.active {
    @apply lg:py-[1.69270833333vw] sm:py-[3.90243902439vw] py-[6.28205128205vw];
  }
  .faq__Question {
    @apply flex items-center justify-between;
  }
  .faq__Question h5 {
    @apply sm:text-[2.19512195122vw] sm:leading-[3.65853658537vw] lg:text-[1.14583333333vw] w-[85%]
        lg:leading-[1.82291666667vw]  leading-[6.66666666667vw] text-[4.10256410256vw];
  }
  .faq__Answer {
    @apply max-h-0 overflow-hidden lg:w-[41.25vw] w-[72.3076923077vw] transition-all duration-[800ms];
  }
  .faq__Answer p {
    @apply sm:pt-[0.97560975609vw] lg:pt-[0.83333333333vw] pt-[4.10256410256vw] lg:text-[1.04166666667vw] lg:leading-[1.5625vw] sm:text-[1.9512195122vw] sm:leading-[3.41463414634vw] leading-[6.05128205128vw] text-[3.58974358974vw];
  }
  .stickyHeader .navTopList {
    @apply lg:hidden;
  }
  .ltr .leftRightFixer1 {
    left: 0;
  }
  .rtl .leftRightFixer1 {
    right: 0;
  }
  .ltr .leftRightFixer2 {
    right: 0;
  }
  .rtl .leftRightFixer2 {
    left: 0;
  }
  .ltr .patient__Quoteup {
    @apply lg:left-[1.09375vw] sm:left-[-3.17073170732vw];
  }
  .rtl .patient__Quoteup {
    @apply lg:right-[1.09375vw] sm:right-[-3.17073170732vw];
  }
  .ltr .patient__Quotedown {
    @apply right-[30%] lg:right-[2.13541666667vw];
  }
  .rtl .patient__Quotedown {
    @apply left-[30%] lg:left-[2.13541666667vw];
  }
  .ltr .location__Asterik {
    @apply lg:right-[32.6041666667vw] right-[12.0512820513vw] sm:right-[23.1707317073vw];
  }
  .rtl .location__Asterik {
    @apply lg:right-[40.6041666667vw] right-[18.0512820513vw] sm:right-[27.1707317073vw];
  }
  .ltr .heroLine {
    @apply right-[31.753125vw];
  }
  .rtl .heroLine {
    @apply left-[31.753125vw];
  }
  .ltr #heroLine3 {
    @apply right-0;
  }
  .rtl #heroLine3 {
    @apply left-0;
  }
  .doctorsSwiper .swiper-button-next,
  .doctorsSwiper .swiper-button-prev,
  .homeSwipers .swiper-button-next,
  .homeSwipers .swiper-button-prev,
  .aboutMeenaSwiper .swiper-button-next,
  .aboutMeenaSwiper .swiper-button-prev,
  .aboutAppSwiper .swiper-button-next,
  .aboutAppSwiper .swiper-button-prev {
    @apply flipped;
  }
  .rtl .mob__Ar {
    @apply h-[5.64102564103vw];
  }
  .ltr .textAlignFixer {
    @apply text-center lg:text-left;
  }
  .rtl .textAlignFixer {
    @apply text-center lg:text-right;
  }
  .ltr .aboutLast_Swiper {
    @apply lg:left-[-20.8333333333vw];
  }
  .rtl .aboutLast_Swiper {
    @apply lg:right-[-20.8333333333vw];
  }
  .ltr .about__Asterisk {
    @apply lg:left-[-3.02083333333vw] left-[-7.69230769231vw];
  }
  .rtl .about__Asterisk {
    @apply lg:right-[-3.02083333333vw] right-[-7.69230769231vw];
  }
  .ltr .aboutAppSwiper {
    @apply pl-[5.64102564103vw] lg:pl-[unset];
  }
  .rtl .aboutAppSwiper {
    @apply pr-[5.64102564103vw] lg:pr-[unset];
  }
  .ltr .aboutApp__Asterisk {
    @apply lg:right-[3.125vw] right-[7.17948717949vw];
  }
  .rtl .aboutApp__Asterisk {
    @apply lg:left-[3.125vw] left-[7.17948717949vw];
  }
  .ltr .aboutAppFeature__Asterisk {
    @apply lg:left-[-1.51041666667vw] left-[8.20512820513vw] sm:left-[20.1219512195vw];
  }
  .rtl .aboutAppFeature__Asterisk {
    @apply lg:right-[-1.51041666667vw] right-[8.20512820513vw] sm:right-[20.1219512195vw];
  }
}
.arrow__Lottie lottie-player {
  transform: matrix(-0.92, -0.39, 0.39, -0.92, 0, 0);
}
.rtl .flipped {
  transform: scaleX(-1);
}
.stickyHeader {
  position: fixed;
}
#heartLine {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}
@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}
.links li:hover img,
.links li img.active {
  transform: translateX(0);
}

.category input[type="checkbox"]:checked + .checkedIcon {
  opacity: 1;
}

.home__Page .blueLogo {
  display: none;
}
.home__Page {
  color: #ffffff;
}

.home__Page .menu span {
  background-color: #ffffff;
}
.stickyHeader .menu span {
  background-color: #ffffff !important;
}
.home__Page .whiteLogo {
  display: block;
}
.sub__Page .blueLogo {
  display: block;
}
.sub__Page {
  color: #3b3659;
}
.sub__Page .menu span {
  background-color: #3b3659;
}
.sub__Page .whiteLogo {
  display: none;
}
.stickyHeader {
  color: #ffffff;
}

.stickyHeader .download__App:hover {
  background-color: #845fff !important;
}
.stickyHeader .blueLogo {
  display: none;
}
.stickyHeader .whiteLogo {
  display: block;
}
.healthCare__Overlay {
  background: transparent
    linear-gradient(180deg, #f5ebe800 0%, #f5ebe8b3 48%, #f5ebe800 100%) 0% 0%
    no-repeat padding-box;
}
.hero__Overlay1 {
  background: transparent linear-gradient(180deg, #9c99bf00 0%, #7a72abe6 100%)
    0% 0% no-repeat padding-box;
  opacity: 0.55;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.hero__Overlay2 {
  background: transparent linear-gradient(180deg, #7a72ab00 0%, #2d2755 100%) 0%
    0% no-repeat padding-box;
  opacity: 0.3;
}
.hero__Overlay3 {
  background: #3e29bb 0% 0% no-repeat padding-box;
  opacity: 0.15;
}
.doctorsSwiper .swiper-wrapper .swiper-slide {
  overflow: hidden;
  background-color: #f5ebe8;
}
.homeSwipers .swiper-button-next:after,
.homeSwipers .swiper-button-prev:after {
  display: none !important;
}
.homeSwipers .swiper-button-next img,
.homeSwipers .swiper-button-prev img {
  width: 100% !important;
}
.doctorsSwiper .swiper-button-next:after,
.doctorsSwiper .swiper-button-prev:after {
  display: none !important;
}
.doctorsSwiper .swiper-button-next img,
.doctorsSwiper .swiper-button-prev img {
  width: 100% !important;
}
.filter.active {
  left: 0;
  z-index: 5;
}
.hideScroll {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}
header {
  transition: all 0.5s;
}

.stickyHeader .navList {
  position: relative;
  top: 0.2vw;
}
.vision__Overlay1 {
  background: transparent
    linear-gradient(180deg, var(--unnamed-color-3b3659) 0%, #3b365900 100%) 0%
    0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #3b3659 0%, #3b365900 100%) 0%
    0% no-repeat padding-box;
}
.vision__Overlay2 {
  background: transparent
    linear-gradient(1deg, var(--unnamed-color-ab99d6) 0%, #3b365900 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(1deg, #ab99d6 0%, #3b365900 100%) 0%
    0% no-repeat padding-box;
}

.vision__Overlay3 {
  background: transparent
    linear-gradient(0deg, var(--unnamed-color-3b3659) 0%, #3b365900 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(0deg, #3b3659 0%, #3b365900 100%) 0%
    0% no-repeat padding-box;
}
.aboutMeenaSwiper .swiper-button-next:after,
.aboutMeenaSwiper .swiper-button-prev:after {
  display: none !important;
}
.aboutMeenaSwiper .swiper-button-next,
.aboutMeenaSwiper .swiper-button-prev {
  top: unset !important;
  bottom: 0 !important;
}
.aboutAppSwiper .swiper-button-next:after,
.aboutAppSwiper .swiper-button-prev:after {
  display: none !important;
}
.aboutAppSwiper .swiper-button-next,
.aboutAppSwiper .swiper-button-prev {
  top: unset !important;
  bottom: 0 !important;
}
.hideScroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.Booking {
  box-shadow: 0px 3px 10px #d6d1ed66;
}
/* HAMBURGER  */

.menu {
  position: relative;
}

.menu span:last-child {
  margin: 0;
}
.menu span {
  transition: all 400ms linear;
}

.li2ne {
  opacity: 0;
}

.l1ine {
  transform: rotate(-45deg);
  position: relative;
  background-color: #ffffff !important;
}
.l1ine {
  @apply top-[7.5px] sm:top-[12.5px];
}

.lin3e {
  transform: rotate(45deg);
  bottom: 6px;
  position: relative;
  background-color: #ffffff !important;
}

.sidebar {
  transition: all 0.5s;
  pointer-events: none;
}

.sidebar.active {
  opacity: 1 !important;
  pointer-events: initial !important;
  z-index: 2;
}

body.active {
  overflow: hidden !important;
  height: 100% !important;
}
.footerLinks li a {
  transition: all 0.5s;
}
.footerLinks li a:hover {
  opacity: 0.5;
}

.cta {
  animation: top 0.7s infinite ease-in-out alternate-reverse;
}
.cta:hover {
  animation: unset;
}
.cta .cta__Menu {
  transform: translateX(-50%);
  left: 50%;
  clip-path: circle(10% at 45% 80%);
  opacity: 0;
  pointer-events: none;
}
.cta:hover .cta__Menu {
  opacity: 1;
  clip-path: circle(100%);
  pointer-events: initial;
}
.question.active #Path_101507,
.question.active #Path_101508,
.question:hover #Path_101507,
.question:hover #Path_101508 {
  stroke: #8450ff;
  opacity: 1;
}
.question.active #Path_101508,
.question:hover #Path_101508 {
  fill: #8450ff;
  opacity: 1;
}

.faq.active .faq__Question svg {
  transform: rotate(180deg);
}
.faq .faq__Question #Ellipse_1 {
  opacity: 0.4;
}
.faq.active .faq__Question #Ellipse_1 {
  opacity: 1;
}

.error span {
  display: block !important;
}
.Pagination svg {
  transition: all 0.5s;
  cursor: pointer;
}
.Pagination svg:hover #Ellipse_1,
.Pagination svg.active #Ellipse_1 {
  opacity: 1;
}
.Pagination .number.active img,
.Pagination .number:hover img {
  opacity: 1;
}

/* SCROLL PROGREESS CSS      */

.circle-container {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.circle-container {
  @apply cursor-pointer lg:w-[3.75vw]
   bottom-[50px] sm:w-[6.34146341463vw]
  fixed bg-transparent
    rounded-[50%] hidden sm:block;
}
.circle-container div {
  @apply absolute top-[50%] left-[50%] transform 
  translate-x-[-50%] translate-y-[-50%];
}
.circle-container div img {
  @apply lg:w-[1.25vw];
}

.circle-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  /* animation: top 0.7s infinite ease-in-out alternate-reverse; */
}

.ltr .circle-container {
  @apply lg:left-[1.77083333333vw]
  left-[30px];
}
.rtl .circle-container {
  @apply lg:right-[1.77083333333vw]
   right-[30px];
}

@keyframes top {
  100% {
    transform: translateY(-10px);
  }
}

.circle-container svg path {
  fill: none;
}
.circle-container svg.circle-progress path {
  stroke: #8450ff;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* SCROLL PROGREESS CSS  END    */

@media (max-width: 1024px) {
  .cta .cta__Menu {
    left: -74%;
    clip-path: circle(10% at 85% 80%);
  }

  .stickyHeader {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: #3b3659;
  }
  .faq.active .faq__Answer {
    max-height: 102.2820512821vw;
  }
  .aboutMeenaSwiper .swiper-button-next,
  .aboutMeenaSwiper .swiper-button-prev {
    width: 11.5384615385vw !important;
  }
  .aboutMeenaSwiper .swiper-slide {
    width: 20.5128205128vw !important;
  }
  .question.active h5,
  .question:hover h5 {
    color: #ffffff;
  }
  .question.active,
  .question:hover {
    background-color: #8450ff;
  }
  .doctorsSwiper .swiper-wrapper .swiper-slide {
    width: 70vw !important;
    border-radius: 20px;
  }
  .homeSwipers .swiper-button-next,
  .homeSwipers .swiper-button-prev {
    width: 11.5384615385vw !important;
    bottom: 2.82051282051vw !important;
    top: unset !important;
  }
  .ltr .homeSwipers .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .homeSwipers .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset;
  }
  .doctorsSwiper .swiper-button-next,
  .doctorsSwiper .swiper-button-prev {
    width: 11.5384615385vw !important;
    bottom: 2.82051282051vw !important;
    top: unset !important;
  }
  .ltr .doctorsSwiper .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .doctorsSwiper .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset !important;
  }
  .ltr .aboutMeenaSwiper .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .aboutMeenaSwiper .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset !important;
  }
  .aboutAppSwiper .swiper-button-next,
  .aboutAppSwiper .swiper-button-prev {
    width: 11.5384615385vw !important;
  }
  .ltr .aboutAppSwiper .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .aboutAppSwiper .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset;
  }
  .rtl .aboutAppSwiper .swiper-button-prev {
    left: unset;
    right: 5.64102564103vw !important;
  }
  .ltr .homeSwipers .swiper-button-prev {
    left: 0 !important;
  }
  .rtl .homeSwipers .swiper-button-prev {
    left: unset;
    right: 0 !important;
  }
  .ltr .doctorsSwiper .swiper-button-prev {
    left: 0 !important;
  }
  .rtl .doctorsSwiper .swiper-button-prev {
    right: 0 !important;
    left: unset;
  }
  .ltr .aboutMeenaSwiper .swiper-button-prev {
    left: 0 !important;
  }
  .rtl .aboutMeenaSwiper .swiper-button-prev {
    right: 0 !important;
    left: unset;
  }
  .homeSwipers .swiper-slide {
    width: 70.2564102564vw !important;
  }
  .line_clamp3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }
}
@media (max-width: 640px) {
  .cta .cta__Menu {
    left: -74%;
    clip-path: circle(10% at 85% 80%);
  }

  .stickyHeader {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: #3b3659;
  }
  .faq.active .faq__Answer {
    max-height: 102.2820512821vw;
  }
  .aboutMeenaSwiper .swiper-button-next,
  .aboutMeenaSwiper .swiper-button-prev {
    width: 11.5384615385vw !important;
  }
  .aboutMeenaSwiper .swiper-slide {
    width: 20.5128205128vw !important;
  }
  .question.active h5,
  .question:hover h5 {
    color: #ffffff;
  }
  .question.active,
  .question:hover {
    background-color: #8450ff;
  }
  .doctorsSwiper .swiper-wrapper .swiper-slide {
    width: 70vw !important;
    border-radius: 20px;
  }
  .homeSwipers .swiper-button-next,
  .homeSwipers .swiper-button-prev {
    width: 11.5384615385vw !important;
    bottom: 2.82051282051vw !important;
    top: unset !important;
  }
  .ltr .homeSwipers .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .homeSwipers .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset;
  }
  .doctorsSwiper .swiper-button-next,
  .doctorsSwiper .swiper-button-prev {
    width: 11.5384615385vw !important;
    bottom: 2.82051282051vw !important;
    top: unset !important;
  }
  .ltr .doctorsSwiper .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .doctorsSwiper .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset;
  }
  .ltr .aboutMeenaSwiper .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .aboutMeenaSwiper .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset;
  }
  .aboutAppSwiper .swiper-button-next,
  .aboutAppSwiper .swiper-button-prev {
    width: 11.5384615385vw !important;
  }
  .ltr .aboutAppSwiper .swiper-button-next {
    right: 5.64102564103vw !important;
  }
  .rtl .aboutAppSwiper .swiper-button-next {
    left: 5.64102564103vw !important;
    right: unset;
  }
  .rtl .aboutAppSwiper .swiper-button-prev {
    left: unset;
    right: 5.64102564103vw !important;
  }
  .ltr .homeSwipers .swiper-button-prev {
    left: 0 !important;
  }
  .rtl .homeSwipers .swiper-button-prev {
    right: 0 !important;
    left: unset;
  }
  .ltr .doctorsSwiper .swiper-button-prev {
    left: 0 !important;
  }
  .rtl .doctorsSwiper .swiper-button-prev {
    right: 0 !important;
    left: unset;
  }
  .ltr .aboutMeenaSwiper .swiper-button-prev {
    left: 0 !important;
  }
  .rtl .aboutMeenaSwiper .swiper-button-prev {
    right: 0 !important;
    left: unset;
  }
  .homeSwipers .swiper-slide {
    width: 70.2564102564vw !important;
  }
  .line_clamp3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }
}
@media (min-width: 1024px) {
  .question {
    background: unset !important;
  }
  .ltr .doctorsSwiper .swiper-button-next {
    right: 0 !important;
  }
  .rtl .doctorsSwiper .swiper-button-next {
    left: 0 !important;
  }
  .ltr .homeSwipers .swiper-button-next {
    right: 0 !important;
  }
  .rtl .homeSwipers .swiper-button-next {
    left: 0 !important;
    right: unset;
  }
  .stickyHeader .download__App {
    padding-top: 0.425vw;
    padding-bottom: 0.425vw;
    font-size: 0.85vw;
  }
  .stickyHeader .navList {
    font-size: 0.94166666667vw;
  }
  .stickyHeader .whiteLogo {
    width: 10.708vw;
    position: relative;
    top: 0.2vw;
  }
  .stickyHeader {
    padding-top: 0.83229166667vw !important;
    padding-bottom: 0.83229166667vw !important;
    background-color: #3b3659;
  }
  .faq.active .faq__Answer {
    max-height: 12vw;
  }
  .ltr .aboutMeenaSwiper .swiper-button-next {
    right: 12.5vw !important;
  }
  .rtl .aboutMeenaSwiper .swiper-button-next {
    left: 12.5vw !important;
    right: unset;
  }
  .ltr .aboutMeenaSwiper .swiper-button-prev {
    right: 17.03125vw !important;
    left: unset;
  }
  .rtl .aboutMeenaSwiper .swiper-button-prev {
    left: 17.03125vw !important;
    right: unset;
  }
  .aboutMeenaSwiper .swiper-slide {
    width: 8.95833333333vw !important;
  }
  .aboutAppSwiper .swiper-slide {
    width: 75vw !important;
  }
  .aboutMeenaSwiper .swiper-button-next,
  .aboutMeenaSwiper .swiper-button-prev {
    width: 3.28125vw !important;
  }
  .aboutAppSwiper .swiper-button-next,
  .aboutAppSwiper .swiper-button-prev {
    width: 3.28125vw !important;
  }
  .ltr .aboutAppSwiper .swiper-button-next {
    right: 0 !important;
  }
  .rtl .aboutAppSwiper .swiper-button-next {
    left: 0 !important;
    right: unset;
  }
  .rtl .aboutAppSwiper .swiper-button-prev {
    left: unset;
  }
  .doctorsSwiper .swiper-wrapper .swiper-slide {
    width: 16.875vw !important;
    border-radius: 1.04166666667vw;
  }
  .question.active h5,
  .question:hover h5 {
    color: #3b3659;
  }
  .homeSwipers .swiper-slide {
    width: 23.33333333333333vw !important;
  }

  .homeSwipers .swiper-button-next,
  .homeSwipers .swiper-button-prev {
    width: 3.28125vw !important;
    top: 0.625vw !important;
  }
  .ltr .homeSwipers .swiper-button-prev {
    left: unset !important;
    right: 4.6875vw !important;
  }
  .rtl .homeSwipers .swiper-button-prev {
    right: unset !important;
    left: 4.6875vw !important;
  }
  .doctorsSwiper .swiper-button-next,
  .doctorsSwiper .swiper-button-prev {
    width: 3.28125vw !important;
    top: 0.625vw !important;
  }
  .ltr .doctorsSwiper .swiper-button-prev {
    left: unset !important;
    right: 4.6875vw !important;
  }
  .rtl .doctorsSwiper .swiper-button-next {
    right: unset;
    left: 0;
  }

  .rtl .doctorsSwiper .swiper-button-prev {
    left: 4.6875vw !important;
    right: unset !important;
  }
  .ltr .aboutAppSwiper .swiper-button-prev {
    left: unset !important;
    right: 4.6875vw !important;
  }
  .rtl .aboutAppSwiper .swiper-button-prev {
    right: unset !important;
    left: 4.6875vw !important;
  }
}

.line_clamp3g {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.line_clamp1g {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
